{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div align="center">
                    <h1 class="page-header">
                        <small>Buscar Libro</small>
                    </h1>
                </div>
                <form action="{% url 'buscar_libro' %}" method="GET">
                    <div class="form-group">
                        <input class="form-control" placeholder="Buscar..."name="txt_buscar">
                    </div>
                    <input type="submit" class="btn btn-lg btn-default" value="Buscar"></input>
                    <br/>
                    <br/>
                </form>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Libros Recomendados para ti {{user.nombreUsuario}} {{user.apellidosUsuario}}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        </thead>
                        <tbody>
                            {% for obj in libros%}
                              <tr>
                                  <td><i class="fas fa-book fa-3x"></i></td>
                                  <td>{{obj.tituloLibro}}</td>
                                  <td>{{obj.anioPublicacionLibro}}</td>
                                  <td><a class="btn btn-sm btn-warning" href="{% url 'registrarReservacion' %}">Reservar</a> </td>
                                  <td><div class="panel-body">
                                      <a href="{% url 'registrarRating' obj.idLibro %}" class="btn btn-lg btn-default">Calificar</a>
                                  </div></td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock%}
