{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div align="center">
                    <h1 class="page-header">
                        <small>Buscar Libro</small>
                    </h1>
                </div>
                <form action="{% url 'buscar_libro' %}" method="GET">
                    <div class="form-group">
                        <input class="form-control" placeholder="Buscar..."name="txt_buscar">
                    </div>
                    <input type="submit" class="btn btn-lg btn-default" value="Buscar"></input>
                    <br/>
                    <br/>
                </form>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Resultados de la Busqueda
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fas fa-book fa-3x"></i></td>
                                <td>Nombre del Libro 1</td>
                                <td>01/01/2008</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-book fa-3x"></i></td>
                                <td>Nombre del Libro 2</td>
                                <td>01/02/2012</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-book fa-3x"></i></td>
                                <td>Nombre del Libro 3 </td>
                                <td>01/03/2015</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-book fa-3x"></i></td>
                                <td>Nombre del Libro 4</td>
                                <td>01/04/2010</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-book fa-3x"></i></td>
                                <td>Nombre del Libro 5</td>
                                <td>01/01/2000</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-book fa-3x"></i></td>
                                <td>Nombre del Libro 6</td>
                                <td>01/01/2004</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock%}
