{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div align="center">
                    <h1 class="page-header">
                        <small>Gestion de Autores</small>
                    </h1>
                </div>
            <a href="{% url 'registrarAutorLibro' %}" type="button" class="btn btn-lg btn-warning">Nuevo</a>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% if object_list %}
                        {% for obj in object_list %}
                        <tr>
                            <td>{{obj.nombreAutorLibro}}</td>
                            <td>{{obj.apellidosAutorLibro}}</td>
                            <td><a href="{% url 'modificarAutorLibro' obj.idAutorLibro %}" class="btn btn-sm btn-primary">Modificar</a></td>
                            <td><a href="{% url 'eliminarAutorLibro' obj.idAutorLibro %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <tr><td>No hay autores registrados</td></tr>
                      {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock%}
