{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid"> 
                <div align="center">
                    <h1 class="page-header">
                        <small>Gestion de Géneros de Libros</small>
                    </h1>
                </div>
            <a href="{% url 'registrarGeneroLibro' %}" type="button" class="btn btn-sm btn-warning">Nuevo</a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objs %}
                        <tr>
                            <td>{{obj.tituloGeneroLibro}}</td>
                            <td><a href="{% url 'modificarGeneroLibro' obj.idGeneroLibro %}" class="btn btn-sm btn-primary">Modificar</a></td>
                            <td><a href="{% url 'eliminarGeneroLibro' obj.idGeneroLibro %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock%}