{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid"> 
                <div align="center">
                    <h1 class="page-header">
                        <small>Gestion de Libros en Instancias</small>
                    </h1>
                </div>
            <a href="{% url 'registrarLibroInstancia' %}" type="button" class="btn btn-sm btn-warning">Nuevo</a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Libro</th>
                            <th>Estado de Préstamo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objs %}
                        <tr>
                            <td>{{obj.libro_LibroInstancia}}</td>
                            {% if obj.estadoPrestamoLibroInstancia == 'm' %}
                                <td>mantenimiento</td>
                            {% endif %}
                            {% if obj.estadoPrestamoLibroInstancia == 'o'%}
                                <td>En calidad de préstamo</td>
                            {% endif %}
                            {% if obj.estadoPrestamoLibroInstancia == 'd' %}
                                <td>Disponible</td>
                            {% endif %}
                            {% if obj.estadoPrestamoLibroInstancia == 'r' %}
                                <td>Reservado</td>
                            {% endif %}
                            <td><a href="{% url 'modificarLibroInstancia' obj.idLibroInstancia %}" class="btn btn-sm btn-primary">Modificar</a></td>
                            <td><a href="{% url 'eliminarLibroInstancia' obj.idLibroInstancia %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock%}