{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div align="center">
                    <h1 class="page-header">
                        <small>Gestion de Editorial</small>
                    </h1>
                </div>
            </div>
            <a href="{% url 'registrarEditorial' %}" type="button" class="btn btn-sm btn-warning">Nuevo</a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Fecha de creación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% if object_list %}
                        {% for obj in object_list %}
                        <tr>
                            <td>{{obj.tituloEditorial}}</td>
                            <td>{{obj.fechaCreacionEditorial}}</td>
                            <td><a href="{% url 'modificarEditorial' obj.idEditorial %}" class="btn btn-sm btn-primary">Modificar</a></td>
                            <td><a href="{% url 'eliminarEditorial' obj.idEditorial %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <tr><td>No hay Editoriales registradas</td></tr>
                      {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock%}
