{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">

            <div class="container-fluid">
                <div align="center">
                    <h1 class="page-header">
                                    Biblioteca Municipal de Trujillo <br/><small>Servicio de Acceso a la Información</small>
                    </h1>
                </div>
                <div align="center">
                    <img class="img-circle" style="width:150px; height:100px;" src="{% static 'GestionPrestamo/img/logo.jpg' %}" alt="Logo de la Biblioteca Municipal de Trujillo">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Ultimos Libros Añadidos
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        </thead>
                        <tbody>
                          {% for obj in top_nuevos %}
                            <tr>
                              <td><i class="fas fa-book-open fa-5x"></i></td>
                              <td>{{obj.tituloLibro}}</td>
                              <td>{{obj.anioPublicacionLibro}}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                <div class="col-lg-6 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Libros màs Consultados
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre del Libro</th>
                                    <th>Nª Veces</th>
                                    <th>Ver Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for obj in top_repeated %}
                                <tr>
                                  {% for objc in objs %}
                                    {% if obj.libro_Reservacion == objc.idLibroInstancia %}
                                      <td>{{objc}}</td>
                                    {% endif %}
                                  {% endfor %}
                                  <td>{{obj.idReservacion__count}}</td>
                                  <td><button type="button" class="btn btn-lg btn-info">Detalle</button></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
{% endblock%}
