{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}
{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid"> 
                <div align="center">
                    <h1 class="page-header">
                        <small>Registro de los Tipos de Usuarios</small>
                    </h1>
                </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group has-success">
                    <table>
                        <table>
                            {{ formRegistrarTipoUsuario.as_table }}
                        </table>
                        <button type="submit" class="btn btn-sm btn-success">Guardar</button>
                    </table>
                </div>
            </form>
        </div>
{% endblock%}




