{% extends "GestionPrestamo/masterPage.html" %}

{% load static %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div align="center">
                    <h1 class="page-header">
                        <small>Gestion de Reservaciones</small>
                    </h1>
                </div>
            <a href="{% url 'registrarReservacion' %}" type="button" class="btn btn-sm btn-warning">Nuevo</a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Libro</th>
                            <th>Usuario</th>
                            <th>Adquisición</th>
                            <th>Bibliotecario</th>
                            <th>Fecha de Retorno</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% if object_list  %}
                          {% for obj in object_list %}
                          <tr>
                              <td>{{obj.libro_Reservacion}}</td>
                              <td>{{obj.usuario_reservacion}}</td>
                                {% if obj.tipoAdquisicionReservacion == 'i' %}
                                  <td>Interno</td>
                                {% endif  %}
                                {% if obj.tipoAdquisicionReservacion == 'e' %}
                                  <td>Externo</td>
                                {% endif  %}
                                {% if obj.tipoAdquisicionReservacion == 'a' %}
                                  <td>Interbibliotecario</td>
                                {% endif  %}
                              <td>{{obj.bibliotecario_Reservacion}}</td>
                              <td>{{obj.fechaRetornoReservacion}}</td>
                              <td><a href="{% url 'modificarReservacion' obj.idReservacion %}" class="btn btn-sm btn-primary">Modificar</a></td>
                              <td><a href="{% url 'eliminarReservacion' obj.idReservacion %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td>No hay Reservaciones</td>
                          </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock%}
