<!DOCTYPE html>
<html lang="en">

    <head>
        { {% load static %}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Sistema Biblioteca de Trujillo - Servicio de Acceso a la Información </title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href="{%static 'registrar/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'registrar/assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{%static 'registrar/assets/css/form-elements.css' %}" rel="stylesheet">
        <link href="{%static 'registrar/assets/css/style.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'registrar/assets/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'registrar/assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'registrar/assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'registrar/assets/ico/apple-touch-icon-57-precomposed.png' %}">
        <link rel="background" href="{% static 'registrar/assets/img/backgrounds/background.jpg' %}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                  {% block content %}

                  {% endblock %}
                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script src="{% static 'registrar/assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'registrar/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'registrar/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'registrar/assets/js/scripts.js' %}"></script>

        <!--[if lt IE 10]>
            <script src="{% static 'assets/js/placeholder.js' %}"></script>
        <![endif]-->

    </body>

</html>
